<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="ion-align-self-center">
        <ion-card>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-textarea [(ngModel)]="thought" class="auto-grow autofocus" placeholder="Write what you thinking..."></ion-textarea>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="full" color="primary" (click)="post_thought()">Post</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <a href="#">See what you been thinking</a>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

